*,
*::before,
*::after{
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-kerning: auto;
}


html{
    font-size: 100%;
    line-height: 1.15;;
}




body{
  background: #000;  
  color: #fff;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
}

b,
strong{
    font-weight: bolder;
}

a{
    color: inherit;
    background-color: transparent ;
}


img{
    border-style: none;
    max-width: 100%;
    height: auto;
}

h1, h2, h3{
    margin: 0;
    line-height: 1;
}

h2{
    
    font-size:  clamp(1,75rem, 8vw, 2.5rem);
}

h3{
    
    font-size:  clamp(1,75rem, 10vw, 3.5rem);
}

p{
    font-size: 1.25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem 0 0;
}


figure{
    margin: 0;

}

.container{
    padding: 0 1.25rem;
}